@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Bebas Neue';
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	gap: 50px;
	background-color: #060606 
}

header {
	text-align: center;
	color: white
}

.clock {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px
}

.times {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 100px;
	color: #dfdfdf;
	gap: 5px;
}

.box {
	position: relative;
	background-color: #222;
	border-radius: 5px;
	padding: 15px
}

.line {
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: black;
	top: 45%;
	left: 0
}

.sets {
	display: flex;
	gap: 15px;
}

svg:hover {
 fill: grey;
 cursor: pointer
}

h6 {
	font-size: 15px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 6px
}





